@font-face {
    font-family: HeadFont;
    src: url(../fonts/LeagueGothic-Regular.otf);
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Regular.otf);
}

@font-face {
    font-family: QuicksandBold;
    src: url(../fonts/Quicksand-Bold.otf);
}

html {
	width:100%;
	height: 100%;
	scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: -20px 0px 0px 0px;
  font-family: Quicksand;
  position: relative;
  min-height: 850px;
}

ul {
  width: 100%;
  background-color: #303030;
  height: 48px;
  list-style-type: none;
  padding-inline-start:0px;
}

li {
  width: 16.6%;
  float: left;
  height: 100%;
  background-color: #303030;
  opacity: 0.85;
}

li a {
  margin-top: 10px;
  text-align: center;
  color: white;
  font-size:16pt;
  text-decoration: none;
  font-family: QuicksandBold;
  display: block;
}

li:hover {
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: white;
  transition-duration: 0.4s;

}

.active {
  background-color: #4CAF50;
}

.bg-image {
  background-color: #0171bb;
  height: 300px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-text {
  color: white;
  font-weight: bold;;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 65%;
  height: 160px;
  padding: 20px;
  text-align: center;
}


div.theTitle {
	color:black;
	width: 50%;
	margin: 0px 25% 0px 25%;
	text-align: center;
	font-size: 35pt;
	border-style: solid;
  border-width: 0px 0px 4px 0px;
}

div.onlineData {
  margin: 100px 50px 0px 0px;
}

div.onlineDataText {
  width: 50%;
  margin: -50px 7.5% 0px 7.5%;
  display: inline-block;
  float: right;
}

div.onlineDataImg {
  width: 35%;
  height:500px;
  background-image: url("../img/cloudIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
}

div.sensitiveData {
  margin: 100px 50px 0px 0px;
}

div.sensitiveDataText {
  width: 50%;
  margin: -50px 7.5% 0px 7.5%;
  display: inline-block;
  float: right;
}

div.sensitiveDataImg {
  width: 35%;
  height:500px;
  background-image: url("../img/dataExposure.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
}

div.aboutUs {
  width: 60%;
  margin: 50px 20% 50px 20%;
}

div.aboutUsBanner {
  width: 100%;
  height: 250px;
  background-image: url("../img/image5.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0px 20% 0px 20%;
}

div.socialMedia {
  height: 1500px;
  width: 100%;
}

div.socialMediaVideo {
  height: auto;
  width: 600px;
  margin: 50px;
  position: relative;
  left: 27%;
}


div.video {

}



.footer {
  height: 110px;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  width: 100%;
  display: inline-block;
}